@import '../../../Assets/vars.scss';

.main-section {
    width: 100%;
    background-color: $brand-white;

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: stretch;
    }
    
    &__container-one {
        display: inline-flex;
        width: 50%;
        padding: 160px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;

        @media screen and (max-width: 1280px) {
            padding: 160px 56px;
        }
    }
    
    &__container-inner {
        display: inline-block;
        width: 504px;
    }
    
    &__one-title {
        font-size: 56px;
        padding-bottom: 32px;

        @media screen and (max-width: 1280px) {
            font-size: 40px;
        }
    }

    &__one-paragraph {
        font-size: 32px;
        padding-bottom: 48px;

        @media screen and (max-width: 1280px) {
            font-size: 24px;
        }
    }
    
    &__banner {
        width: 50%;
        position: relative;
        overflow: hidden;

        &--right {
            &::before {
                background: url('../../../Assets/Images/Background.png') no-repeat center;
            }
        }
        
        &--left {
            &::before {
                background: url('../../../Assets/Images/MediaBackground.png') no-repeat center;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-size: cover;
            transition: transform 1000ms;
        }

        &:hover::before {
            transform: scale(1.2);
        }
    }

    &__four-title {
        font-size: 32px;
        padding-bottom: 32px;
    }

    &__four-paragraph {
        font-size: 16px;
        padding-bottom: 48px;
    }
}
