@import '../../Assets/vars.scss';

.footer {
    background-color: $brand-white;
    width: 100%;
    height: 408px;
    text-align: center;

    &__nav-wrapper {
        width: 100%;
        text-align: center;
        padding-top: 116px;
    }

    &__nav {
        display: inline-flex;
    }

    &__logo {
        margin: 0 136px;
    }

    &__line {
        margin: 40px 0;
        width: 1000px;
        height: 1px;
        background-color: $brand-grey-300;
        display: inline-block;
    }

    &__icons {
        padding-bottom: 72px;
    }

    &__icon-link {
        margin-right: 24px;
        cursor: pointer;
        transition: opacity 0.35s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}
