@import '../../../Assets/vars.scss';

.contacts {
    box-sizing: border-box;
    background-color: $brand-orange;
    padding: 72px 0;
    width: 100%;
    text-align: center;

    &__content {
        display: inline-block;
    }

    &__content-text {
        display: inline-block;
        padding-right: 224px;
        vertical-align: middle;
    }

    &__content-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__content-paragraph {
        font-size: 32px;
    }

    &__content-buttons {
        display: inline-block;
        vertical-align: middle;
    }
}
